<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "/api/users/show.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
  window.smlogoURL = "<%= image_url('smlogo.png') %>";
  window.notiflogoURL = "<%= image_url('notiflogo.png') %>";
  window.cameralogoURL = "<%= image_url('camera.png') %>";
  window.githublogoURL = "<%= image_url('github.png') %>";
  window.linkedinlogoURL = "<%= image_url('linkedin.png') %>";
</script>

<div id="root">React is broken!</div>