<!DOCTYPE html>
<html>
  <head>
    <title>Facepalm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="FacePalm" />
     <meta property="og:image" content="https://github.com/ShuaLaik/FacePalm/raw/main/app/assets/images/readme/login1.png" />
     <meta
       property="og:description"
       content="A Facebook clone built for you and your friends to Facepalm together!!"
     />
     <meta
       property="og:url"
       content="http://facepalmaa.herokuapp.com/#/home"
     />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
